.App {
  text-align: center;
  background-color: #000000;
  color: #fff;
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: solid 1px #8c8c8c;
}